.container-fluid > .row {
	display: flex;
	flex-wrap: nowrap;
	height: calc(100vh - 150px);
	gap: 0;
}

.document-list,
.document-details {
	overflow-y: scroll;
}

.document-list::-webkit-scrollbar,
.document-details::-webkit-scrollbar {
	width: 8px;
}

.document-list::-webkit-scrollbar-thumb,
.document-details::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

.document-list {
	flex: 0 0 32.5%;
	padding: 25px;
	background-color: rgba(0, 0, 0, 0.1);
}

.document-details {
	flex: 0 0 45%;
	padding: 25px;
}

.events-calendar {
	flex: 0 0 50%;
	padding: 25px;
	background-color: rgba(0, 0, 0, 0.1);
}

.events-detail {
	flex: 0 0 27.5%;
	padding: 25px;
}

.event-analytics {
	flex: 0 0 77.5%;
	padding: 25px;
}

@media (max-width: 1439px) {
	.container-fluid > .row {
		height: calc(100vh - 120px);
	}

	.document-list::-webkit-scrollbar,
	.document-details::-webkit-scrollbar {
		width: 6px;
	}

	.document-list::-webkit-scrollbar-thumb,
	.document-details::-webkit-scrollbar-thumb {
		border-radius: 3px;
	}

	.document-list {
		padding: 20px;
	}

	.document-details {
		padding: 20px;
	}
}
