/* sectionHeader.css */

/* Section Header Styles */
.section-header .icons-container {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.section-header .icon-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 14px;
    flex: 0 0 auto;
}

/* Hover Effect */
.section-header .icon-item:hover {
    border-radius: 8px;
}

.section-header .icon-item:hover span {
    color: #a82d2d;
}

.section-header .icon-item:hover p {
    color: #a82d2d;
}

h1 {
    visibility: visible !important;
    opacity: 1 !important;
    display: block !important;
}
/* In sectionHeader.css */
.content-section h1 {
    visibility: visible !important;
    opacity: 1 !important;
    display: block !important;
}

