{% include "admin/addOrganizationModal.html" %} {% set title = "Student Organization" %} {% include "admin/sectionHeader.html" %}

<div class="table-container">
	<table class="organization-table">
		<thead>
			<tr>
				<th><input type="checkbox" /></th>
				<th>Organization Name</th>
				<th>Abbreviation</th>
				<th>Department</th>
				<th>Email</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			{% for org in organizations %}
			<tr>
				<td><input type="checkbox" /></td>
				<td>{{ org.org_name }}</td>
				<td>{{ org.org_abbr }}</td>
				<td>{{ org.org_dept }}</td>
				<td>{{ org.org_email }}</td>
				<td>{{ org.org_status }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<script src="{{ url_for('static', filename='js/addOrganizationModal.js') }}"></script>
