<div class="content-section">
	<!-- Check if title exists, otherwise show a fallback text -->
	<h1>{{ title }}</h1>

	<hr class="custom-hr" />
	<div class="icons-container">
		<div class="icon-item" id="addUserIcon">
			<span class="material-symbols-outlined">group_add</span>
			<p>Add Account</p>
		</div>
		<div class="icon-item">
			<span class="material-symbols-outlined">group_remove</span>
			<p>Delete Account</p>
		</div>
		<div class="icon-item">
			<span class="material-symbols-outlined">edit_document</span>
			<p>Edit Account</p>
		</div>
		<div class="icon-item">
			<span class="material-symbols-outlined">key_vertical</span>
			<p>Reset Password</p>
		</div>
	</div>
</div>
