<div id="facultyAdministratorSection" class="content-section">
	<h1>Faculty Administrator</h1>
	<hr class="custom-hr" />
	<div class="icons-container">
		<!-- Add User Button -->
		<div class="icon-item" id="addUserButton">
			<span class="material-symbols-outlined">group_add</span>
			<p>Add User</p>
		</div>
		<!-- Delete User Button -->
		<div class="icon-item" id="deleteUserButton">
			<span class="material-symbols-outlined">group_remove</span>
			<p>Delete User</p>
		</div>
		<!-- Edit User Button -->
		<div class="icon-item" id="editUserButton">
			<span class="material-symbols-outlined">edit_document</span>
			<p>Edit User</p>
		</div>
		<!-- Reset Password Button -->
		<div class="icon-item" id="resetPasswordButton">
			<span class="material-symbols-outlined">key_vertical</span>
			<p>Reset Password</p>
		</div>
	</div>
	<div class="table-container">
		<table class="organization-table">
			<thead>
				<tr>
					<th><input type="checkbox" /></th>
					<th>Organization Name</th>
					<th>Abbreviation</th>
					<th>Department</th>
					<th>Email</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="checkbox" /></td>
					<td>Tech Innovators Society</td>
					<td>TechIS</td>
					<td>CICS</td>
					<td>techisoc-lipa@g.batstate-u.edu.ph</td>
					<td>Active</td>
				</tr>
				<tr>
					<td><input type="checkbox" /></td>
					<td>College of Accountancy, Business and Economics - Council</td>
					<td>CABE Council</td>
					<td>CABE</td>
					<td>cabecouncillipa@g.batstate-u.edu.ph</td>
					<td>Renewed</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
