{% set title = "Faculty Administrator" %}
{% include "admin/sectionHeader.html" %}

	<div class="table-container">
		<table class="organization-table">
			<thead>
				<tr>
					<th><input type="checkbox" /></th>
					<th>Organization Name</th>
					<th>Abbreviation</th>
					<th>Department</th>
					<th>Email</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="checkbox" /></td>
					<td>Tech Innovators Society</td>
					<td>TechIS</td>
					<td>CICS</td>
					<td>techisoc-lipa@g.batstate-u.edu.ph</td>
					<td>Active</td>
				</tr>
				<tr>
					<td><input type="checkbox" /></td>
					<td>College of Accountancy, Business and Economics - Council</td>
					<td>CABE Council</td>
					<td>CABE</td>
					<td>cabecouncillipa@g.batstate-u.edu.ph</td>
					<td>Renewed</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
