{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/document_list.css') }}" />
{% endblock %} {% include "document_modal.html" %}

<div class="section-header">
	<h2 class="section-title">Documents</h2>
	<button class="btn btn-primary add-new-button">+ Add New</button>
</div>

<div class="document-tabs">
	<button class="tab" id="tab-all">ALL</button>
	<button class="tab" id="tab-in-progress">IN PROGRESS</button>
	<button class="tab" id="tab-completed">COMPLETED</button>
</div>

<div class="line-separator"></div>

<div class="search-bar">
	<span class="material-symbols-outlined search-icon">search</span>
	<input type="text" placeholder="Search" />
	<span class="material-symbols-outlined filter-icon">filter_list</span>
</div>

<div class="document-entries"></div>
