{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/documentContainer.css') }}" />
{% endblock %}
<div class="document-container">
	<div class="upper-section">
		<div class="picture-title">
			<div class="uploader-pic">
				<span class="material-symbols-outlined uploader-icon">person</span>
			</div>
			<div class="document-title">Sample Title</div>
		</div>
		<div class="document-status">
			<span class="document-status-circle"></span>
			<span class="document-status-text">In Progress</span>
		</div>
	</div>
	<div class="lower-section">
		<div class="uploader-details">
			<span class="material-symbols-outlined uploader-icon">account_circle</span>
			<span class="uploader-name">Org Abbrev</span>
		</div>
		<div class="document-deadline">
			<span class="material-symbols-outlined date-icon">event</span>
			<span class="deadline-text">DEADLINE</span>
			<span class="deadline-date">SAMPLE DATE</span>
		</div>
	</div>
</div>
