<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
		<title>Login Page</title>
	</head>

	<body>
		<div class="container" id="container">
			<div class="sign-up">
				<form>
					<h1>Continue as Guest</h1>
					<span>Enter your email to receive login credentials</span>
					<input type="email" placeholder="Email" />
					<button type="button">Send</button>
				</form>
			</div>
			<div class="sign-in">
				<form>
					<h1>Sign In</h1>
					<span>Please enter your login credentials</span>
					<input type="email" placeholder="Email" />
					<div class="input-container">
						<input type="password" id="password" placeholder="Password" />
						<i class="fa fa-eye-slash toggle-password" id="toggle-password"></i>
					</div>
					<button type="button">Sign In</button>
				</form>
			</div>
			<div class="toggle-container">
				<div class="toggle">
					<div class="toggle-panel toggle-left">
						<h1>Welcome!</h1>
						<p>If you already have an account</p>
						<button type="button" id="login">Sign In</button>
					</div>
					<div class="toggle-panel toggle-right">
						<h1>Hello, EcoFriends!</h1>
						<p>If you don't have an account</p>
						<button type="button" id="register">Continue as Guest</button>
					</div>
				</div>
			</div>
		</div>
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	</body>
</html>
